// ----------index----------
.row.text-center {
margin-top: 30px;
}


// ----------show----------

.user_color {
  color: blue;
}

.ba-parent {
  position: relative;
  .ba-child {
      position: absolute;
      top: 50%;
      left: 50%;
  }
}

.best-answer {
  color: red;
}